<ion-header>
  

</ion-header>

<ion-content >
    
  <div style="margin-top:35px;
  padding: 10px;">
  
    Asignaturas

  </div>
  
  
  
  <ion-card *ngFor="let asignatura of asignaturas" >
      <ion-item>
        <ion-label>
          Asignatura: {{asignatura.name}}
        </ion-label>
        
    </ion-item>
    <ion-item>
      <ion-label>
        Asistencia: {{asignatura.asist}}
      </ion-label>
      <ion-button expand="block" shape="round" (click)="scan()">Marcar presente

      </ion-button>

  </ion-item>
    </ion-card>
</ion-content>
